.home-screen-btn {
  border-radius: 20px;
}
.text-center p {
  text-align: justify;
}
.text-vertical-center {
  color: #fff;
}
#services {
  background-color: #405C74;
}
#services .text-primary {
  color: #9AAAB8;
}
#services .btn-light {
  border-radius: 50px;
}
#contact #map {
  width: 100%;
  height: 100%;
}
