<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top">江門長浩</a>
    </li>
    <li>
      <a href="#about">關於我們</a>
    </li>
    <li>
      <a href="#services">我們的服務</a>
    </li>
    <li>
      <a href="#portfolio">我們的產品</a>
    </li>
    <li>
      <a href="#contact">聯繫我們</a>
    </li>
    <li>
      <a href="#top">回到頂部</a>
    </li>
  </ul>
</nav>

<header id="top" class="header">
  <div class="text-vertical-center">
   <h1>{{ site.name }}</h1>
   <h3>{{ site.description }}</h3>
   <br>
   <a href="#about" class="btn btn-dark btn-lg home-screen-btn">了解更多</a>
  </div>
</header>
